node_modules

## output
lib
build
dist
coverage
# __snapshots__

## config
*.config.js
.*rc.js

# fixtures
# shared-fixtures

# react-app
**/src/reportWebVitals.ts
**/src/report-web-vitals.ts

# packages/eslint-plugin-tslint/tests
